@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Project Library - Colours */
$main: #963815;
$mainDarken: #66260f;
$mainClear: #9637159f;
$secondary: #054491;

$whiteOwl: #fafafa;
$blackOwl: #343434;
$blackOwlClear: #343434cc;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: $blackOwl !important;
  font-size: 16px;
}

h1 {
  font-size: 32px;
  line-height: 4rem;
}
h2 {
  font-size: 26px;
  line-height: 3rem;
}

h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

button {
  outline: none !important;
}

p {
  text-align: center;
  font-size: 16px;
}

a,
button,
.btn,
.link {
  transition: all 0.3s ease-in-out;
  outline: none !important;
}

button:hover {
  background: $secondary;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
  color: $secondary;
}

q, .quoter {
  font-size: 18px;
  text-align: center;
  font-style: italic;
  margin: 10px 10px;
}


.link {
  color: $blackOwl;
  &:hover {
    color: $main;
    text-decoration: underline !important;
  }
  &:hover,
  &:focus {
    background: transparent !important;
  }
}

.btn {
  margin: 0 5px 5px 0;
  border: 1px solid $blackOwlClear;
  border-bottom-color: $blackOwlClear;
  text-shadow: 0 1px 0 $blackOwlClear;
  box-shadow: 0 1px 3px $blackOwlClear, inset 0 1px 0 0 $blackOwlClear;
  border-radius: 40px;
  background: $main;
  color: $whiteOwl;
  &:hover {
    background: $mainDarken;
  }
}

.colour-frame {
  padding: 2rem;
  background: $mainClear;
  border-radius: 2px;
  color: $whiteOwl;
  & > .link {
    color: $whiteOwl;
    text-decoration: underline;
  }
  & > .link:hover {
    color: $blackOwl;
  }
}

.navbar-brand {
  height: auto;
  padding: 3px 15px;
  font-size: 25px;
  font-weight: normal;
  font-weight: 600;
  line-height: 44px;

  img {
    max-height: 200px;
    margin: 0 5px 0 0;
    display: inline;

    &[src$="svg"] {
      min-width: 100px;
    }
  }
}

.navbar-toggle {
  margin: 10px 10px 0 0;
  border: 0px;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    background: $blackOwlClear;
    width: 26px;
  }
}

.icons {
  margin-bottom: 14px;
  margin-top: 24px;
}

.icon-dark-slate-blue {
  color: $secondary !important;
  border-color: $secondary !important;
}

.bloc {
  width: 100%;
  clear: both;
  background: 50% 50% no-repeat;
  padding: 0 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

  .container {
    padding-left: 0;
    padding-right: 0;
  }
  &__header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    padding: 0 30rem;
  }

  &__footer {
    background: $main;
  }

  &__footer,
  .link__icon {
    color: $whiteOwl;
  }
  .link__icon:hover {
    color: $secondary;
    text-decoration: none !important;
  }
}

@media (max-width: 1399px) {
  .bloc__header nav {
    padding: 0 15rem;
  }
}

@media (max-width: 991px) {
  .bloc__header nav {
    padding: 0 5rem;
  }
}

@media (max-width: 767px) {
  .bloc__header nav {
    display: initial;
  }
}

@media (max-width: 575px) {
  .bloc__header {
    padding: 0 2rem;
  }
}

.bloc-lg {
  padding: 100px 50px;
}

.bloc-md {
  padding: 50px;
}

.bloc-sm {
  padding: 20px 50px;
}

.bg-t-edge {
  -webkit-background-size: auto !important;
  -moz-background-size: auto !important;
  -o-background-size: auto !important;
  background-size: auto !important;
}

.bg-repeat {
  -webkit-background-size: auto !important;
  -moz-background-size: auto !important;
  -o-background-size: auto !important;
  background-size: auto !important;
  background: repeat;
}

.bg-t-edge {
  background: top no-repeat;
}

.b-parallax {
  background-attachment: fixed;
}

.voffset {
  margin-top: 30px;
}

.voffset-lg {
  margin-top: 80px;
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.row-no-gutters > {
  [class^="col-"],
  [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.navbar {
  margin-bottom: 0;
  z-index: 1;
}

.mg-md {
  margin-top: 10px;
  margin-bottom: 20px;
}

.icon-md {
  font-size: 30px !important;
}

.icon-lg {
  font-size: 60px !important;
}

.sm-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

a[data-lightbox] {
  position: relative;
  display: block;
  text-align: center;

  &:hover {
    &::before {
      content: "+";
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
        "Helvetica Neue", "Fira Sans", Arial;
      font-size: 32px;
      width: 50px;
      height: 50px;
      margin-left: -25px;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.6);
      color: $whiteOwl;
      font-weight: 100;
      z-index: 1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }

    img {
      opacity: 0.6;
      -webkit-animation-fill-mode: none;
      animation-fill-mode: none;
    }
  }
}

#lightbox-modal {
  display: flex;
  align-items: center;
}

#lightbox-modal .modal-dialog {
  width: 90%;
  max-width: 900px;
  margin: 0 auto 0;
}

#lightbox-modal .modal-dialog img {
  max-height: 90vh;
  margin: 0 auto;
}

.lightbox-caption {
  padding: 20px;
  color: $whiteOwl;
  background: $blackOwlClear;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 5px;
}

.close-lightbox {
  color: $whiteOwl;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
  background: $blackOwlClear;
  border: none;
  line-height: 30px;
  padding: 0 9px 5px;
  opacity: 0.3;
}

.close-lightbox:hover,
.next-lightbox:hover,
.prev-lightbox:hover {
  opacity: 1.0;
  color: $whiteOwl;
  background-color: $blackOwl;
}

.next-lightbox,
.prev-lightbox {
  font-size: 20px;
  color: $whiteOwl;
  background: $blackOwl;
  transition: all .2s ease-in-out;
  position: absolute;
  top: 45%;
  z-index: 1;
  opacity: 0.4;
}

.next-lightbox {
  padding: 6px 8px 1px 13px;
  right: 25px;
}

.prev-lightbox {
  padding: 6px 13px 1px 10px;
  left: 25px;
}

.snapshot-lb .modal-body {
  padding-bottom: 45px;
}

.snapshot-lb .lightbox-caption {
  padding: 0;
  color: $blackOwl;
  background: none;
}

.container {
  max-width: 1000px;
}

.tight-width-whitespace {
  max-width: 600px;
  margin: auto auto auto auto;
}

.cta-hero {
  margin-top: 22px;
  color: $whiteOwl !important;
  text-transform: uppercase;
  padding: 12px 28px 12px 28px;
  font-size: 16px;
  font-weight: 700;
}

.social {
  max-width: 400px;
  margin: auto auto auto auto;
}

.med-width-whitespace {
  max-width: 800px;
  margin: auto auto auto auto;
  box-shadow: $blackOwl;
}

.portfolio-thumb {
  margin-bottom: 24px;
}

.portfolio-row {
  margin-bottom: 44px;
  margin-top: 50px;
}

.bold-link {
  font-weight: 900;
  text-decoration: underline !important;
}

.bg-banniere {
  background-image: url("img/la-chouette-agence-banniere.avif");
  background-attachment: fixed;
}

.bg-presentation {
  background-image: url("img/image-de-presentation.avif");
}

@media (max-width: 991px) {
  .b-parallax {
    background-attachment: scroll;
  }
}

form {
  input:valid {
    border: 1px solid green;
  }
  input:invalid {
    border: 2px dashed red;
  }
}
